.Drop-Zone{
    position: relative;
    width: 450px;
    min-height: 50px;
    background: gray;
    border-radius: 4px;
    text-align:center;
}

.Drop-Zone{
    border-style:inset;
    
    // border-radius: 1px;
    // border-color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    border:3px dotted #F7730E;
    
   
}

.Drop-Zone:hover{
    box-shadow: 5px 5px 4px 4px #b1a1a1;
    bottom: 3px;
}

.Drop-Zone-Photo_Inher{
    margin-top:18px;
    position:relative;
    flex-grow: 1;
    border-radius: 10px;
}