.Drop-Zone{
    position: relative;
    width: 450px;
    min-height: 100px;
    background: gray;
    border-radius: 4px;
    text-align:center;
}

.Drop-Zone{
    display:flex;
    flex-direction: column;
    align-items: center;
   
}

.Drop-Zone:hover{
    box-shadow: 5px 5px 4px 4px #b1a1a1;
}

.Drop-Zone-Photo_Inher{
    margin-top:38px;
    position:relative;
    flex-grow: 1;
    border-radius: 10px;
}