
.FeedMain{
    position: absolute;
    left:-125%;
    top: 180px;
    // align-items: flex-start;
    // overflow-y: scroll;
    height:auto;
    width: 300%;
    display: flex;
    flex-direction: column;
    
}
.PostFeedItemContainer {

    position: relative;
    // left:-125%;
    // top: 80%;
    // width: 300%;
    // overflow-y: scroll;

    // background: white;
    // height: 100px;
    // background-color: white;
    display: flex;
    // // align-items: stretch;
    // align-items: flex-start;
    flex-direction: row;
    // box-sizing: border-box;
    justify-content:flex-start;
    font-family: "Bookman Old Style";
    border-radius: 5px;
    align-content: center;
    align-items: flex-start;
    margin-bottom: 20px;

}

.FeedItemBox{
    position: relative;
    display:flex;
    background-color: white;
    left:4%;
    width: 540px;
    height: auto;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    align-content: left;
    align-items: left;
    color:black;
    border-radius: 5px;
}

.AuthorshipInfo{
    // text-align: left;
    left: 20px;
    color:black;
    border-bottom: black;
    justify-content: left;

    border-bottom-width: 2px;
}
.FeedItemContent{
    width: 540px;
    height: auto;
    color: black;

}

.FeedItemContent>*{
    width: 540px;
    height: auto;
    color: black;
}

.FeedItemContent>*>*{
    width: 540px;
    height: auto;
    color: black;
}

.FeedItemAvator {

    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 5px;

}


.FeedItemAvator>* {

    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;


}