
.FeedMain{
    position: absolute;
    left:-125%;
    top: 180px;
    height:auto;
    width: 300%;
    display: flex;
    flex-direction: column;
    
}
.PostFeedItemContainer {

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    font-family: "Bookman Old Style";
    border-radius: 3px;
    align-content: center;
    align-items: flex-start;
    margin-bottom: 20px;

}

.FeedItemBox{
    position: relative;
    display:flex;
    background-color: white;
    left:4%;
    width: 540px;
    height: auto;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    align-content: left;
    align-items: left;
    color:black;
    border-radius: 5px;
}

.AuthorshipInfo{
    position:relative;
    top:2px;
    margin-left: 20px;
    height:44px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    align-content: center;
    align-items: center;
    font-size: 14px;

}

.FeedItemContent{
    width: 540px;
    height: auto;
    color: black;
    border-bottom-width: 1px;
    border-bottom-color: lightgrey;
    border-style: solid;
}



.FeedItemContent>*{
    height: auto;
    color: black;
}

.FeedItemContent>*>*{
    width: 540px;
    height: auto;
    color: black;
}

.FeedItemAvator {

    position: sticky;
    width: 64px;
    height: 64px;
    border-radius: 5px;

}


.FeedItemAvator>* {

    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 5px;

}
.PostPhotoShowContainer{
    left:2%;
    position:fixed;
    height:100%;
}

.PostPhotoShow{
    position: relative;
    bottom:5%;
    height:130%;
    width:auto;
}


.FeedContentBody{

    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right:10px;
    padding: 0;
    color: black;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 21px;
}

.FeedItemFooterInfo{

    margin-top:7px;
    margin-bottom:7px;
    margin-left: 90%;
    display:flex;
    flex-direction: row-reverse;
}

.FeedItemFooterInfo>*{
    margin-right: 14px;
    height:50%;
    width:50%
}