.Following-Container{
    position: fixed;
    left:800px;
    top: 160px;
    background-color: hotpink;
}


.Following-Item{
    position:relative;
    height:50px;
    width:250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}


.FollowProfilePic{
    width:40px;
    height: 40px;
}