.Following-Container{
    position: fixed;
    left:750px;
    top: 150px;
    // border-top:1px solid white;
    border-radius: 5px;
    // border-left:1px solid white;
    // border-right: 1px solid white;
}
.YouAreFollowing{
    font-size:16px;
    padding-bottom: 5px;
    // border-bottom: 1px solid white;
}


.Following-Item{
    padding-bottom: 2px;
    border-top:1px ridge grey;
    position:relative;
    height:35px;
    width:250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.Following-Item:hover{
    background-color: darkgray;
    bottom: 2px;
}

.FollowProfilePic{
    width:30px;
    height: 30px;
}

.FollowName{
    font-size:16px;
}

.UnfollowIcon{
    width:80%;
    height:80%;
}


.ShowAllPost{
    justify-content: center;
    background-color: rgba(12.5, 72.2, 100, 0.2);
    border-radius: 3px;
}

.PostBar{
    margin-top:50%;
    background-color:rgba(12.5, 72.2, 100, 3);
    font-size: 105%;
}
