.main-footer{

  position: absolute;
  height: 30px;
  bottom: 0px;
  width: 100%;
  border-top-color: 3px solid blue;
  background-color: rgba(1,19,43, 0.9);
  z-index:2;
  text-emphasis-color: white;

}