.middle{

    background-image: url("https://www.bet.com/style/fashion/2019/09/23/dmx-covers-gq/_jcr_content/image.large2x1image.dimg/__1569282303600__1569272072824/092319-style-dmx-covers-gq.jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}